
@{
    ViewBag.Title = "Servicios";
}

<div class="container-fluid">
    <div class="row">
        <div class="jumbotron">
            <h2 class="text-center">Consumo de Servicios Cuentas Contables</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <input type="button" id="BtnConceptos" class="btn btn-default" value="Conceptos" />
        </div>
        <div class="col-sm-2">
            <input type="button" id="BtnTipoCuenta" class="btn btn-default" value="Tipos Cuentas" />
        </div>
        <div class="col-sm-2">
            <input type="button" id="BtnEmpresa" class="btn btn-default" value="Empresas" />
        </div>
        <div class="col-sm-2">
            <input type="button" id="BtnConvenios" class="btn btn-default" value="Convenios" />
        </div>
        <div class="col-sm-2">
            <input type="button" id="BtnCanales" class="btn btn-default" value="Canales Venta" />
        </div>
        <div class="col-sm-2">
            <input type="button" id="BtnTiposVenta" class="btn btn-default" value="Tipos Venta" />
        </div>
    </div>
</div>